<div class="jumbotron">
  <h1>p3g</h1>
  <p>show yourself by sharing your gallery</p>
  <%= link_to 'about me', home_about_path, class: 'btn btn-info' %>
  <%= link_to 'home', root_path, class: 'btn btn-primary' %>
</div>
